body {
  min-height: 100vh;
  margin: 0;
  color: $color-text;
  background: $color-background;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

main {
  padding: 0 $body-padding;
}

.header {
  padding: 10px $body-padding;
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;

    @include respond-to('medium') {
      flex-direction: row;
    }

    &__title {
      color: $black;
      font-weight: bold;
      font-size: 20px;
    }
    &__buttons {
      display: flex;
      column-gap: 10px;
    }
    &__button {
      height: min-content;
      font-size: 15px;
      line-height: 20px;
      font-weight: bold;
      --color: rgb(120, 120, 120);
      color: var(--color);
      $border: 1px solid var(--color);
      $edge-border: 4px solid var(--color);
      border: $border;
      border-bottom: $edge-border;
      border-left: $edge-border;
      padding: 3px 5px;
      background: white;
      text-decoration: none;
      transition: 0.2s color;
      cursor: pointer;

      &:hover {
        background: var(--color);
        color: white;
      }

      &--primary {
        --color: black;
      }
    }
  }
}

.form {
  display: grid;
  grid-template-columns: 1fr;
  row-gap: 20px;
  column-gap: 20px;

  @include respond-to('medium') {
    grid-template-columns: repeat(2, 1fr);
  }

  &__field {
    display: flex;
    flex-direction: column;

    input,
    select {
      padding: 10px;
      border: 2px solid $black;
      box-shadow: none;
    }

    &__input {
      &--unitable {
        display: flex;
        select {
          flex: 1;
          border-left: none;
        }
        input {
          flex: 2;
        }
      }
    }

    &--error {
      input,
      select {
        border: 2px solid red;
      }
    }

    &__description {
      font-size: 12px;
      margin-top: 5px;
    }

    &__errors {
      padding: 0 20px;
      margin-top: 10px;
      &__error {
        margin: 0;
        color: red;
        font-size: 12px;
      }
    }
  }
}
